<div layout="column" ng-cloak class="md-inline-form">
    <md-content md-theme="docs-dark" layout-gt-lg="row" layout-padding>
        <h1>Registration</h1>
        <div>
            <md-input-container class="md-block">
                 <label for="user">User</label>
      <input class="form-control" id="user" type="text" name="username" ng-model="vm.username" />
            </md-input-container>
            <md-input-container class="md-block">
          <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" ng-model="vm.password" />
            </md-input-container>

        </div>
        <div>
            <md-button type="submit"  ng-click="vm.login()">Log In</md-button>
             <md-button type="submit"  ng-click="vm.signup()">Sirn Up</md-button>

        </div>
    </md-content>
</div>