<md-content md-theme="docs-dark" 
            layout="row"  
            layout-align="space-between center"
            class='header'
            id='header'
            layout-padding>
    <h1 class="header-name"  flex="auto">
        <i class="material-icons md-padding">whatshot</i>Hot Blog 
    </h1>   
    <span layout-align="center" class='greetings' ng-if="isAuthenticated">Hey, {{ vm.profile.nickname }}, nice to see you!!</span>
    <section layout-align="center center" >
        <md-button ng-if="!isAuthenticated" ng-click="logIn()">Log In</md-button>
        <md-button ng-if="isAuthenticated" ng-click="authService.logout()">Log Out</md-button>
    </section>    
</md-content>
<div ui-view class="main-content"></div>
<p>Footer</p>