<div layout="row" layout-align="center center">
<md-content class="md-padding" ng-cloack > 
        <md-card >
            <img src="{{postInfo.imageUrl}}" class="md-card-image" alt="Image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{postInfo.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{postInfo.body}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">

            </md-card-actions>
        </md-card>
      </md-content>
    </div>